[submodule "Documentation"]
	path = Documentation
	url = https://github.com/ardop3/Documentation.git
[submodule "ARDOP3.0-Perception-System"]
	path = ARDOP3.0-Perception-System
	url = https://github.com/ardop3/ARDOP3.0-Perception-System.git
[submodule "ARDOP3.0-Manipulation-System"]
	path = ARDOP3.0-Manipulation-System
	url = https://github.com/ardop3/ARDOP3.0-Manipulation-System.git
[submodule "Ardop3.0-TIC-TAC_TOE"]
	path = Ardop3.0-TIC-TAC_TOE
	url = https://github.com/ardop3/Ardop3.0-TIC-TAC_TOE.git
[submodule "Ardop-arm-Arduino-Library"]
	path = Ardop-arm-Arduino-Library
	url = https://github.com/ardop3/Ardop-arm-Arduino-Library.git
[submodule "ARDOP3.0-Description"]
	path = ARDOP3.0-Description
	url = https://github.com/ardop3/ARDOP3.0-Description.git
[submodule "ARDOP3.0-Simulations"]
	path = ARDOP3.0-Simulations
	url = https://github.com/ardop3/ARDOP3.0-Simulations.git
[submodule "ARDOP-Kinematics-Simulator"]
	path = ARDOP-Kinematics-Simulator
	url = https://github.com/ardop3/ARDOP-Kinematics-Simulator.git
[submodule "ARDOP3.0-Design"]
	path = ARDOP3.0-Design
	url = https://github.com/ardop3/ARDOP3.0-Design.git

[submodule "ARDOP3.0-Navigation-System/navigator_UserInterface"]
	path = ARDOP3.0-Navigation-System/navigator_UserInterface
	url = https://github.com/shiva-raj-km/navigator_UserInterface.git
[submodule "ARDOP3.0-Navigation-System/Smart_navigator_urdf"]
	path = ARDOP3.0-Navigation-System/Smart_navigator_urdf
	url = https://github.com/shiva-raj-km/Smart_navigator_urdf.git
[submodule "ARDOP3.0-Navigation-System/cartographer_navigator"]
	path = ARDOP3.0-Navigation-System/cartographer_navigator
	url = https://github.com/shiva-raj-km/cartographer_navigator.git
[submodule "ARDOP3.0-Navigation-System/Smart_Navigator"]
	path = ARDOP3.0-Navigation-System/Smart_Navigator
	url = https://github.com/shiva-raj-km/Smart_Navigator.git
[submodule "ardop3.github.io"]
	path = ardop3.github.io
	url = https://github.com/ardop3/ardop3.github.io.git
